html {
    scroll-behavior: smooth;
    font-family: "Roboto Slab", "Times New Roman", serif;
}

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background-color: #f4f4f0; 
    margin: 0;
}

/* Home Page */
#home {
    height: 100vh;
}

h1 {
    font-family: "Roboto Slab", "Times New Roman", serif;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
}

.asci {
    z-index: 3;
    margin: auto;
    position: absolute;
    height: 94vh;
    width: 94vh;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    float: center;
}

.titleblock:hover {
    animation-name: reveal_face;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes reveal_face {
    from {opacity: 90%;}
    to {opacity: 10%;}
}

div.titleblock {
    background-color: #868F6E;
    top: 30vh;
    opacity: 90%;
    border-radius: 10px;
    position: relative;
    height: auto;
    width: 80%;
    color:#000000;
    padding-bottom: 10px;
    text-align: center;
    margin: auto;
    clear: none;
    z-index: 4;
}

.titleblock h1 {
    font-size: 75px;
    position: relative;
    margin: 0;
}

.titleblock h2 {
    font-weight: 500;
    padding-top: 0%;
    font-size: 20px;
    position: relative;

}

/* Projects styling */

#projects {
    padding-top: 5px;
    background-color: #2A2C36;
    height: auto;
    position: relative;
    padding-bottom: 20px;
}

#projects h1 {
    color: #F4F4F0;
    font-size: 50px;
    margin-bottom: 5px;
    margin-top: 45px;
}

.project h3 {
    font-size: 25px;
    text-decoration: none;
    color: #F4F4F0;
    margin: 0;
    padding: 20px;
    padding-bottom: 10px;
}

.project p {
    font-size: 15px;
    color: #F4F4F0;
    margin: 4px;
}

.project img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.project-container {
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    row-gap: 20px;
    align-items: center;
}

.project {
    position: relative;
    background-color: #F4F4F0;
    padding: 10px;
    border-radius: 20px;
    height: 40vh;
    overflow: hidden;
}

.caption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #2A2C36;
    padding: 10px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: auto;
    border-color: #f4f4f0;
    border-width: 5px;
    border-style: solid;
    text-align: center;
    z-index: 10;
}


.project:hover img {
    transform: scale(1.1);
}

.project:hover .caption {
    opacity: 1;
}


@keyframes hidden {
    from {opacity: 0%;}
    to {opacity: 100%;}
} 

@media (max-width:1100px) {
    .project-container {
        margin-left: 10%;
        margin-right: 10%;
        display: grid;
        grid-template-columns: auto;
        column-gap: 20px;
        row-gap: 20px;
    }
}

/* Project pages */

.project-pages {
    margin-left: 10%;
    margin-right: 10%;
}

.project-pages-main {
    background-color: #F4F4F0;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 10px;
}

.project-pages h1 {
    color: #F4F4F0;
    font-size: 50px;
    margin-bottom: 5px;
    margin-top: 55px;
}

.project-pages a {
    position: absolute;
    font-weight: 550;
    margin: auto;
    text-decoration: none;
    font-size: 20px;
    background-color: #535A56;
    color: #F4F4F0;
    border-radius: 20px;
    padding: 6px;
    padding-inline: 13px;
    left: 50%;
    transform: translate(-50%);

}

/* Connect*/

#connect {
    background-color: #F4F4F0;
    height: 25vh;
}

#connect h1 {
    margin-top: 25px;
    font-size: 50px;
}

.connect-container {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    margin-left: 30%;
    margin-right: 30%;
}
.icon {
    margin: auto;
}
.icon img{
    position: center;
    object-fit: fill;
    height: 60px;
    width: 60px;
}


/*Navigation styling*/

@keyframes menufade {
    from {background-color: #535a56;}
    to {background-color: #868f7e;}
}

.nav {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    white-space: nowrap;
    height: auto;
    background-color: #535a56;
    width: 100%;
    text-align: left;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 999;
}

.nav ol {
    padding-left: 10px;
}
.nav a {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 650;
    padding: 8px;
}

.nav li {
    display: inline-block;
}
  
.nav a:hover {
    animation-name: menufade;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}




/*colors scheme
#F4F4F0 - Light background - Light shade
#868F6E - Battleship Grey - light accent
#535A56 - Dark Green - Main color
#9AA0AF - Gray - Dark accent
#2A2C36 - Deep Purple - Dark Shade
*/