html {
    scroll-behavior: smooth;
    font-family: "Roboto Slab", "Times New Roman", serif;
}

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background-color: #f4f4f0; 
    margin: 0;
}

/* Home Page */
#home {
    height: 100vh;
}

.asci {
    z-index: 3;
    margin: auto;
    position: absolute;
    height: 94vh;
    width: 94vh;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    float: center;
}

div.titleblock {
    background-color: #868F6E;
    top: 30vh;
    opacity: 90%;
    border-radius: 10px;
    position: relative;
    height: auto;
    width: 70%;
    color:#000000;
    padding-bottom: 10px;
    text-align: center;
    margin: auto;
    clear: none;
    z-index: 4;
}

.titleblock h1 {
    font-family: "Roboto Slab", "Times New Roman", serif;
    font-size: 75px;
    position: relative;
    margin: 0;
}

.titleblock h2 {
    font-weight: 500;
    padding-top: 0%;
    font-size: 20px;
    position: relative;

}

/* Projects styling */

#projects {
    margin-left: ; 
    background-color: #2A2C36;
    height: 70vh;
    position: relative;
}

.project-item .Keyboard {
    height:250px;
    width: 250px;
    background-color: #F4F4F0;
}

/* Connect*/

#connect {
    background-color: #F4F4F0;
    height: 50vh;

}

/*Navigation styling*/

@keyframes menufade {
    from {background-color: #535a56;}
    to {background-color: #868f7e;}
}

.nav {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    white-space: nowrap;
    height: auto;
    background-color: #535a56;
    width: 100%;
    text-align: left;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 5;
}

.nav ol {
    padding-left: 10px;
}
.nav a {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 650;
    padding: 8px;
}

.nav li {
    display: inline-block;
}
  
.nav a:hover {
    animation-name: menufade;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}




/*colors scheme
#F4F4F0 - Light background - Light shade
#868F6E - Battleship Grey - light accent
#535A56 - Dark Green - Main color
#9AA0AF - Gray - Dark accent
#2A2C36 - Deep Purple - Dark Shade
*/